  <div class="field">
 	<%= hidden_field_tag("paper_id[]", "#{content.paper.id}", :multiple => true) %>
  	<%= hidden_field_tag("field_id[]", "#{content.field.id}", :multiple => true) %>
  	<div class="input-field">
  	
	<%= text_field_tag("content[]", "#{content.content}", :multiple => true) %>
  	<%= label_tag("#{content.field.id}", "#{content.field.label}") %>
  	</div>
  </div>
