<h1>Editar usuário</h1>

<div class="col s3 left">
	<div class="row col s12">
		<i class="large material-icons">account_circle</i>
		<table>
			<tr>
				<td>Usuário desde: </td>
			</tr>
			<tr>
				<td>Quantidade de trabalhos: </td>
			</tr>
		</table>
		<%= link_to "Alterar senha", "#" %>
	</div>
</div>
<div class="col s9 right">
	<%= render 'form', user: @user %>
</div>

