<h1>Editing Section</h1>

<%= render 'form', template: @section.template, section: @section %>

<%= link_to 'Show', template_section_path(@section.template, @section) %> |
<%= link_to 'Back', template_sections_path(@section.template) %>
