<h1>Editing Field</h1>

<%= render 'form', section: @field.section, field: @field %>

<%= link_to 'Show', section_field_path(@field.section,@field) %> |
<%= link_to 'Back', section_fields_path(@field.section) %>
